<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task Manager</title>
    <style>
    .completed  {
        color : red;
        text-decoration: line-through;
        font-style: italic;
        font-weight: bold;
    }
            
    </style>
    <script src="angular.js"></script>
    <script>
        function taskController($scope){
            $scope.tasks = [];
            $scope.addTask = function(taskName){
                var newTask = {
                    name : taskName,
                    isCompleted : false
                };
                $scope.tasks.push(newTask);
            };
            $scope.toggleCompletion = function(task){
                task.isCompleted = !task.isCompleted
            };
            $scope.getCompletedTaskCount = function(){
                return $scope.tasks.filter(function(t){
                    return t.isCompleted;
                }).length;
            };
            $scope.removeCompleted = function(){
                console.log("remove clicked");
                var oldTasks = $scope.tasks;
                $scope.tasks = oldTasks.filter(function(t){
                    return !t.isCompleted
                });
            }
        }
    </script>
</head>
<body ng-app>
   <div ng-controller="taskController">
        <h1>Task Manager -[<span class="completed">{{getCompletedTaskCount()}}</span>/<span>{{tasks.length}}</span>]</h1>
        <hr>
        <label for="">Task :</label>
        <input type="text" name="" id="" ng-model="newTask">
        <input type="button" value="Add Task" id="btnAdd" ng-click="addTask(newTask)" ng-disabled="!newTask">
        <input type="button" value="Remove Completed" 
          ng-click="removeCompleted()" ng-disabled="!getCompletedTaskCount()"
        >
        <ol id="olTaskList">
            <li 
                ng-repeat="task in tasks" 
                ng-click="toggleCompletion(task)"
                ng-class="{completed : task.isCompleted}"
            >{{task.name}}</li>
        </ol>
   </div>
</body>
</html>